.AppArticle {
    font-family: 'Roboto';
    line-height: 1.7;
    word-wrap: break-word;

    p {
        display: inline;
    }

    :first-child {
        margin-top: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: rgb(30, 30, 30);
        margin-top: 3rem;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 15px;
        color: gray;
    }

    // keywords
    :not(pre) {
        code {
            color: rgb(86, 156, 214);
            padding: 0.25rem 0.2rem;
            border-radius: 0.3rem;
        }
    }
}
